.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    @include respond(tab-land) {
        max-width: 1240px;
    }
}

.bold {
    font-weight: 700;
}

.displayOnlyMobile {
    display: block;
    @include respond(tab-land) {
        display: none;
    }
}