.navigation {
    &__btn {
        width: 30px;
        height: 30px;
        outline: none;
        background-color: transparent;
        border: none;
        &:hover {
            cursor: pointer;
        }
        @include respond(tab-land) {
            display: none;
        }
        &--open {
            position: relative;
            width: 20px;
            height: 15px;
            align-self: flex-start;
        }
        &--close {
            position: absolute;
            right: 15px;
            top: 15px;
            &::before, &::after {
                position: absolute;
                left: 14px;
                top: 0;
                content: ' ';
                height: 30px;
                width: 2px;
                background-color: $color-white;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }

        }
    }
    &__btnOpenLine {
        display: block;
        height: 2px;
        width: 100%;
        background: $color-black;
        position: absolute;
        right: 0;
        // border-radius: 1px;
        &--top {
            top: 0;
        }
        &--middle {
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }
        &--bottom {
            bottom: 0;
            width: 70%;
        }
    }
    &__list {
        list-style: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        background-color: $color-menu-bg;
        padding-top: 50px;
        opacity: 0;
        visibility: hidden;
        font-size: 16px;
        z-index: 99;
        // display: none;
        @include respond(tab-land) {
            padding-top: 0;
            visibility: visible;
            background-color: transparent;
            position: static;
            top: unset;
            left: unset;
            right: unset;
            bottom: unset;
            opacity: 1;
            display: flex;
            justify-content: space-between;
            transform: translateY(0);
            font-size: 14px;
            z-index: 1;
        }
        &--active {
            // display: block;
            opacity: 1;
            visibility: visible;
            animation: showMenu 0.5s ease-out;
            // animation-fill-mode: forwards;
            @include respond(tab-land) {
                display: flex;
            }
        }
        &--hidden {
            opacity: 0;
            visibility: visible;
            animation: hideMenu 0.5s ease-out;
            animation-fill-mode: forwards;
            @include respond(tab-land) {
                opacity: 1;
                animation: unset;
            }
        }
    }
    &__link {
        display: block;
        text-decoration: none;
        color: $color-white;
        font-weight: 700;
        padding: 15px 20px;
        text-align: center;
        outline: none;
        transition: color 0.15s;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        text-transform: uppercase;
        @include respond(tab-land) {
            color: $color-black;
            padding: 0;
        }
        &:hover {
            cursor: pointer;
            background: rgba(255,248,213,0.1);
            @include respond(tab-land) {
                color: #ecc7d0;
                background: transparent;
            }
        }
        &--active {
            color: #ecc7d0;
            background: rgba(255,248,213,0.1);
            @include respond(tab-land) {
                background: transparent;
            }
        }
    }
}